<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page1</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <h1>Contacts</h1>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./contacts">Contacts</a></li>
            <li><a href="./about-us">About us</a></li>
        </ul>
    </nav>
    <ul>
        <li>Contact 1</li>
        <li>Contact 2</li>
        <li>Contact 3</li>  
    </ul>
</body>
</html>