<section class="about">
    <h1>Hello, my name is Isai</h1>

    <img id= "me" src="/images/IsaiMar.jpg" alt="Isai">

    <p>I was born in July 28, 1999 in Mexico City. I like going on hikes and playing video games. <br>
        I also like to learn new things. 
        I am currently training for marathon with my wife.
    </p>
</section>
