<nav>
    <div id="logo">
        <img src="https://placehold.co/300x80/jpg" alt="Site Logo">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</nav>